* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: hwb(202 47% 13%);
}

.container {
    width: 400px;
    margin: 50px auto;
    background-color: lab(66.81% 0.71 1.41);
    padding: 20px;
    border-radius: 5px;
}

h1, h2 {
    text-align: center;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    margin-top: 10px;
}

li {
    padding: 8px;
    background-color: #f1f1f1;
    margin-top: 5px;
    border-radius: 3px;
}